<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shop</title>

  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-5">فروشگاه الکترونیک</h1>
        <br />
        <h3 class="display-6">
          فروشگاه الکترونیک با استفاده از Node.js و MongoDB
        </h3>
      </div>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">لینک</a>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="grid">
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title">عنوان</h1>
          </header>
          <div class="card__image">
            <img src="./images/heroimage.jpg" alt="Product Title" />
          </div>
          <div class="card__content">
            <h2 class="product__price">100.00</h2>
            <p class="product__description">توضیحات</p>
          </div>
          <div class="card__actions">
            <a href="#" class="btn btn-primary">جزییات</a>
          </div>
        </article>
      </div>
    </main>
   
  </body>
</html>
